@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,700&display=swap');

body{
   font-family: "Poppins", sans-serif;
   letter-spacing: 0.8px;
}
#header{
   background:url(../img/header-bg.png) no-repeat;
   height: 85vh;   
   background-size:cover;
   background-position: left center;
   position: relative;
   z-index: -2;
}
#header h1{
   position: relative;
}
#header h1:before{
  content: url(../img/line-hero-marker.png);
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: translate(-20%,70%);
  -webkit-transform: translate(-20%,70%);
  -moz-transform: translate(-20%,70%);
  -ms-transform: translate(-20%,70%);
  -o-transform: translate(-20%,70%);
}

#header img{
   position: absolute;
   top: 0;
   right: 0;
   transform: 25%, 25%;
   -webkit-transform: 25%, 25%;
   -moz-transform: 25%, 25%;
   -ms-transform: 25%, 25%;
   -o-transform: 25%, 25%;
   z-index: -1;
   opacity: 0.5;
}

.fontSize{
   font-size: 1.2rem;
   font-family: "Poppins", sans-serif;
}

.title-2:after{
   content: url(../img/title-2-bottom.png);
   display: block;
   
}

#selected-player li{
   margin-bottom: 5px;
   font-weight: bold;
   text-transform: capitalize;
   font-size: 18px;
}

@media screen and (max-width:576px) {
      .hero-description{
         text-overflow: ellipsis!important ;
         overflow: hidden !important;
         white-space: nowrap !important; 
      }
}